body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background: #41b883;
}
#app {
  max-width: 600px;
  height: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  margin-bottom: 15px;
  color: #fdfeff;
  font-weight: 500;
}

main {
  height: 400px;
  width: 400px;
}


